@charset "utf-8";
/* about.html */
.shop-photo {
    float: left;
    padding: 0 1em 1em 0;
}
.clear {
    clear: both;
}
/* Table */
.info {
    border-collapse: collapse;
}
.info th, .info td{
    padding: 8px;
    border: 1px solid #bec2c7;
    text-align: left;
}
.info th {
    background-color: #dde2ea;
    width: 90px;
    color: #3f5170;
    vertical-align: top;
}
