@charset "utf-8";
/*スマートフォン向けCSS*/
@media (max-width:767px) {
    /* contact.html - フォーム */
    select {
        width: 100%;
    }
    input[name="subject"] {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    input[type="submit"] {
        margin: 20px 0;
        width: 100%;
    }
}/*767*/