@charset "utf-8";
/* menu.html */
.menu-item {
    display: flex;
    border-bottom: 1px dashed #bec2c7;
    padding: 20px 8px;
}
.menu-photo {
    margin-right: 16px;
    flex: 1 1 auto; /* 幅を伸縮 */
}
.menu-text {
    flex: 0 0 336px; /* 幅を固定幅に */
}